.hsp-heading-container {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    margin: 5px;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
}

.hsp-heading-container:hover {
    background-color: var(--nav-item-background-active);
}

.hsp-heading {
    margin: 0px;
}

.hsp-selected {
    background-color: var(--nav-item-background-active);
}